@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: "Archivo Narrow", sans-serif;
  letter-spacing: 1;
  background-color: #F2EFE9;
}

body::selection {
  background-color: #C6EF8C;
  color: #1A1A1A;
}